<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Natural Language Processing App</title>
    <meta
      name="Natural Language Processing App"
      content="Evaluate a news article with Aylien NLP API."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">
      <form id="contact" action="" method="post">
        <h4>Natural Language Processing App</h4>
        <fieldset>
          <input
            placeholder="Enter URL here"
            type="text"
            tabindex="1"
            autofocus
            id="url-input"
          />
        </fieldset>

        <fieldset>
          <button
            name="submit"
            type="submit"
            id="contact-submit"
            data-submit="...Sending"
          >
            Submit
          </button>
        </fieldset>
        <fieldset>
          <textarea
            placeholder="Form result...."
            tabindex="5"
            id="form-result"
          ></textarea>
        </fieldset>
      </form>
    </div>

    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker
            .register("/service-worker.js")
            .then((registration) => {
              console.log("SW register success: ", registration);
            });
        });
      } else {
        console.log("Service Working not supported");
      }
    </script>
  </body>
</html>
